lab4/zad1.dtd

<!ELEMENT biblioteka (ksiazka*, dz:dzial+)>
	<!ATTLIST biblioteka
	xmlns CDATA #IMPLIED
	xmlns:dz CDATA #IMPLIED>
<!ENTITY f "fab">
<!ELEMENT dzial (#PCDATA)>
	<!ATTLIST dzial
	kod ID #REQUIRED
	ksiazki IDREFS #IMPLIED>
<!ELEMENT ksiazka (tytul, autor, opis)>
	<!ATTLIST ksiazka
	id ID #REQUIRED
	kod_dzial IDREF #REQUIRED>
<!ELEMENT tytul (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT opis (#PCDATA)>
